@CHARSET "utf-8";

*{
	font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro","メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #525f66;
}

body{
	text-align:center;
	width: 100%;
	/*margin: 10% auto 10%;*/
}

/*******/
.box_container{
	width : 60%;
	margin: 3% auto;
	padding: 4%;
	border : solid 1px grey;
}

.err{
	color:red;
	width: 80%;
	margin: 0 auto;
}
		

small{
	font-size:smaller;
}

input[type="submit"] {
	background: rgba(31, 144, 255, 0.65);
	border: none;
	color: #fff;
	font-weight: bold;
	height: 4em;
	line-height: 4em;
	width: 60%;
	display: block;/*ブロック要素として表示する*/
	margin: 0 auto;/*センターに表示*/
	text-align: center;
	border-radius : 10px;
	cursor: pointer;/*カーソルの変更*/
	outline:none;/*クリック時の枠線を消す*/
}

input[type="password"] {
	margin-top:10px;
}

.btn{
	margin-top: 5%;
}


/* about chart */
.container{
	width: 90%;
	margin: 0 auto;
}

.rank_container{
	display: inline-block;
	margin: 5%;
}

.myChart{
	width: 120%;
}